snippet TODO "TODO w/ git username"
// TODO: (${1:git user.name}) ${2:input}
endsnippet

snippet logmode "using LOG_MOD() macro"
LOG_MOD(${1:loglevel}, ${2:logmod}) << "${3:loghere}";
endsnippet

snippet log "using LOG() macro"
LOG(${1:loglevel}) << "${2:loghere};
endsnippet
